################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RapidData.Factorial/RapidData.Factorial/obj
/.vs
/RapidData.Factorial/.vs/RapidData.Factorial/v16
/RapidData.Factorial/RapidData.Factorial/bin/Debug/netcoreapp3.1
